<!DOCTYPE html>
<html>

  <head>
    <title>
      Lowest Pizza Prices Search Engine
    </title>
  </head>

  <body>
    <h1>
      Lowest Pizza Prices Search Engine
    </h1>
    <!-- User Inputs (Street Address and Radius)
      - Number of pizzas
      - Number of toppings
      - Size of pizza-->
    <!-- TEMPLATE:
      Enter your order: (insert text field here) 
    -->
    <!-- Need a text box for input for Street Address and Radius (km)
        -Drop down menus for # of pizzas, toppings, & size-->
    <!-- Consider warning messages for unrecognized inputs-->

    <form id="inputs">
      Enter the Street Address: <input type="text" id="sAddress"><br>
      Enter the Radius: <input type="text" name="radius"><br>
      Enter the Number of Pizzas: <input type="text" name="numPizza"><br>
      Enter the Number of Toppings <input type="text" name="numToppings"><br>
      Select the size of the Pizza:
      <select id="sizeSelect">
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select><br>
    </form>	
	<p><a href="scrape/289%20Dalcastle%20Dr.">Test Link</a></p>
	
    <p>
      <button onclick="redirToSearch();">Start Search</button>
    </p>
    <p id="test"></p>
    <script>
      function redirToSearch() {
        var address = document.getElementById("sAddress").value;
        address = encodeURI(address.trim())
        // var radius = document.getElementsByName("radius").value + "/";
        // var numPizza = document.getElementsByName("numPizza").value + "/";
        // var numToppings = document.getElementsByName("numToppings").value + "/";
        // var sizeSelect = document.getElementById("sizeSelect").value;
        // var size = sizeSelect.options[sizeSelect.selectedIndex].text + "/";

        window.location.href = "scrape/" + address;

        // document.getElementById("test").innerHTML = 'scrape/' + address;
      }

    </script>

  </body>

</html>
